body{
    background-color: black;
 
}
 
.allCard{
   margin-top: 30vh;
  
}

/* .cardBody{
  
} */

.aLogo{
  color: blueviolet;
}

.btn{
background-color: brown;

}

.aText{
  color: bisque;
  text-decoration: none;

}