body {
    background-image: linear-gradient(45deg, rgba(59, 54, 216, 0.5) 0%, rgba(59, 54, 216, 0.5) 12.5%, rgba(58, 81, 198, 0.5) 12.5%, rgba(58, 81, 198, 0.5) 25%, rgba(56, 107, 180, 0.5) 25%, rgba(56, 107, 180, 0.5) 37.5%, rgba(55, 134, 162, 0.5) 37.5%, rgba(55, 134, 162, 0.5) 50%, rgba(53, 161, 145, 0.5) 50%, rgba(53, 161, 145, 0.5) 62.5%, rgba(52, 188, 127, 0.5) 62.5%, rgba(52, 188, 127, 0.5) 75%, rgba(50, 214, 109, 0.5) 75%, rgba(50, 214, 109, 0.5) 87.5%, rgba(49, 241, 91, 0.5) 87.5%, rgba(49, 241, 91, 0.5) 100%), linear-gradient(135deg, rgb(76, 57, 199) 0%, rgb(76, 57, 199) 12.5%, rgb(72, 81, 188) 12.5%, rgb(72, 81, 188) 25%, rgb(68, 105, 176) 25%, rgb(68, 105, 176) 37.5%, rgb(64, 129, 165) 37.5%, rgb(64, 129, 165) 50%, rgb(61, 153, 153) 50%, rgb(61, 153, 153) 62.5%, rgb(57, 177, 142) 62.5%, rgb(57, 177, 142) 75%, rgb(53, 201, 130) 75%, rgb(53, 201, 130) 87.5%, rgb(49, 225, 119) 87.5%, rgb(49, 225, 119) 100%);
}

h1,
p {
    color: White
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

button {
    width: 80px;
    padding: 2px;
}

#score {
    border: 3px solid black;
    display: inline-block;   /*prend que le contenu */
    padding: 5px;
}