
html, body {
  /* background-color:#ff6f69;
  background: radial-gradient(#ff6f69, #ff8b87); */
  
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141218;
  color: white ;

}

.rect{
  border-radius: 15px 2px 15px 2px ;
  box-shadow: 10px 5px 30px hsla(210, 40%, 52%, .4);
  background-color: transparent;
  font-size: 30px;
  padding: 10%;
  width: 700px;
   
    
}

.btn-primary{
  padding: 0;
  font-size: 20px;
  margin-top: 2%;
  width: 70px;
    
}

/*======================================== Titre Effect ==============================================*/

.border{
  padding: 8px 0px 0px 80px; /*Position du h1*/
  border-radius: 15px 2px 15px 2px ;
  box-shadow: 10px 5px 30px hsla(210, 40%, 52%, .4);
	
	background: linear-gradient(110deg, #141218 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, white 34%, #156BC1 34%);
  height: 80px;
  background-position: 25% 50%;
  font-family: 'Pacifico', cursive;
  border: 0px solid  !important;
    
	-webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
    
}
.inner-cutout{
	display: block;
  margin: 2%;

}
.knockout {
  background: linear-gradient(110deg, white 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, var(--bg-color) 34%, var(--bg-color) 34%); /* Couleur de l'animation pour le h1*/
  background-size: 400%;
  
	vertical-align: middle;
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 40pt;
	color: blue;
	color: #fff;
	
	-webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;

}
.knockout{
	animation: Gradient 5s ease infinite;
	-webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
        
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 30% 50%
	}
	50% {
		background-position: 25% 50%
	}
	100% {
		background-position: 30% 50%
	}	
}

.main{
    margin-bottom: 15px;
    margin-top: 10%;

}


/*======================================= Button Effect==============================================*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');

:root {
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: hsla(210, 40%, 52%, .4);
  --btn-color: hsl(210, 80%, 42%);
  --bg-color: #141218;
}

* {
  box-sizing: border-box;
}

/* html, body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
} */

button {
  position:relative;
  padding: 10px 20px;  
  border: none;
  background: none;
  cursor: pointer;
  
  font-family: "Source Code Pro";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;  
  color: var(--text-color);
  
  background-color: var(--btn-color);
  box-shadow: var(--shadow-color) 2px 2px 22px;
  border-radius: 4px; 
  z-index: 0;  
  overflow: hidden;   
}

button:focus {
  outline-color: transparent;
  box-shadow: var(--btn-color) 2px 2px 22px;
}

.right::after, button::after {
  content: var(--content);
  display: block;
  position: absolute;
  white-space: nowrap;
  padding: 40px 40px;
  pointer-events:none;
}

button::after{
  font-weight: 200;
  top: -30px;
  
} 

.right::after {
  top: -30px;
 
  background-color: var(--bg-color);
  color:transparent;
  transition: transform .4s ease-out;
  transform: translate(0, -90%) rotate(0deg)
}

button:hover .right::after {
  transform: translate(0, -47%) rotate(0deg)
}

button .right:hover::after {
  transform: translate(0, -50%) rotate(-7deg)
}


/* bubbles */
button::before {
  content: '';
  pointer-events: none;
  opacity: .6;
  background:
    radial-gradient(circle at 20% 35%,  transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
    radial-gradient(circle at 75% 44%, transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
    radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);

  width: 100%;
  height: 300%;
  top: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -66.666%);
  }
}
